
.border{
    border-color: black !important;
}
.section-title {
    font-size: 42px;
    line-height: 70px;
    font-weight: 500;
}
.hero-section{
    padding-top: 100px;
}
.fas {
    color: yellow;
}
.btn{
    border: none;
    padding: 12px 40px;
    width: 250px;
    transition: .5s;
}
.btn:hover{
    transform: scale(1.1);
}